@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    11720 Hunts Corners Road<br />
    Akron, NY 14001<br />
    <abbr title="Phone">P:</abbr>
    (716)912-7863
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:sethleonwideman@yahoo.com">sethleonwideman@yahoo.com</a><br />
</address>